﻿
    @{
        Layout = null;
    }

<div class="topbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#home">
                <span class="brand-mark">
                    <img src="~/asset/logo/logo.jpeg" style="width:100%"/>
                </span>
                AUTOX
            </a>

            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span style="display:inline-block;width:24px;height:2px;background:#fff;box-shadow:0 7px 0 #fff,0 -7px 0 #fff;"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action("Index", "Autox")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Autox")#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Autox")#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Autox")#fleet">Our Work</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Autox")#contact">Contact</a></li>
                    <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                        <a href="@Url.Action("Index", "Booking")" class="btn btn-brand">Book Now</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>